@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #48bd42;
  --color-gray: #dbdbdb;
  --color-black: #0c0d0c;
  --color-white: #f7f7f7;
  --font-primary: "Outfit", sans-serif;

  /* Typography scale */
  --font-size-display-semibold: 124px;
  --font-size-display-semibold-mobile: 48px; /* Smaller size for mobile */
  --font-weight-display-medium: 500;
  --font-weight-display-semibold: 600;

  /* line height for headings and paragraphs */
  --line-height-heading: 130%;
  --line-height-paragraph: 150%;

  /* H1 */
  --font-size-h1-regular: 60px;
  --font-size-h1-regular-mobile: 48px; /* Smaller size for mobile */
  --font-weight-h1-medium: 500;
  --font-weight-h1-semibold: 600;

  /* H2 */
  --font-size-h2-regular: 48px;
  --font-size-h2-regular-mobile: 40px; /* Smaller size for mobile */
  --font-weight-h2-medium: 500;
  --font-weight-h2-semibold: 600;

  /* H3 */
  --font-size-h3-regular: 40px;
  --font-size-h3-regular-mobile: 32px; /* Smaller size for mobile */
  --font-weight-h3-medium: 500;
  --font-weight-h3-semibold: 600;

  /* H4 */
  --font-size-h4-regular: 32px;
  --font-size-h4-regular-mobile: 28px; /* Smaller size for mobile */
  --font-weight-h4-medium: 500;
  --font-weight-h4-semibold: 600;

  /* H5 */
  --font-size-h5-regular: 24px;
  --font-size-h5-regular-mobile: 24px; /* Smaller size for mobile */
  --font-weight-h5-medium: 500;
  --font-weight-h5-semibold: 600;

  /* H6 */
  --font-size-h5-regular: 20px;
  --font-size-h5-regular-mobile: 20px; /* Smaller size for mobile */
  --font-weight-h5-medium: 500;
  --font-weight-h5-semibold: 600;

  /* Large Paragraph */
  --font-size-large-paragraph-regular: 18px;
  --font-size-large-paragraph-regular-mobile: 14px; /* Smaller size for mobile */
  --font-weight-large-paragraph-light: 300;
  --font-weight-large-paragraph-regular: 400;
  --font-weight-large-paragraph-medium: 500;
  --font-weight-large-paragraph-semibold: 600;

  /* Small Paragraph */
  --font-size-small-paragraph-regular: 14px;
  --font-size-small-paragraph-regular-mobile: 12px; /* Smaller size for mobile */
  --font-weight-small-paragraph-light: 300;
  --font-weight-small-paragraph-regular: 400;
  --font-weight-small-paragraph-medium: 500;
  --font-weight-small-paragraph-semibold: 600;
}

@layer utilities {
  body {
    font-family: var(--font-primary);
  }

  .container {
    max-width: 1170px;
  }

  .btn-primary {
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: var(--color-white);
    border-radius: 1rem;
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
  }

  .btn-primary-green-full {
    cursor: pointer;
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: var(--color-primary);
    border-radius: 1rem;
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
  }

  .btn-secondary {
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-white);
  }

  .text-gradient {
    background: linear-gradient(180deg, #50c04a 0%, #fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-display-semibold {
    font-size: var(--font-size-display-semibold);
    font-weight: var(--font-weight-display-semibold);
    line-height: var(--line-height-heading);
    color: var(--color-white);
  }

  .text-h1 {
    font-size: var(--font-size-h1-regular);
    font-weight: var(--font-weight-h1-regular);
    line-height: var(--line-height-heading);
  }

  @media screen and (max-width: 1023px) {
    .text-display-semibold {
      font-size: var(--font-size-display-semibold-mobile);
    }
  }
}
