@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Font */
  --font-primary: "Outfit", sans-serif;

  /* Colors */
  --color-primary: #48bd42;
  --color-gray: #dbdbdb;
  --color-black: #0c0d0c;
  --color-white: #f7f7f7;

  /* Display */
  --font-size-display-semibold: 124px;
  --font-size-display-semibold-mobile: 48px;
  --font-weight-display-medium: 500;
  --font-weight-display-semibold: 600;

  /* Headings */
  --font-size-h1: 48px;
  --font-size-h1-mobile: 24px;
  --font-size-h2: 40px;
  --font-size-h2-mobile: 18px;
  --font-size-h3: 32px;
  --font-size-h3-mobile: 20px;
  --font-size-h4: 24px;
  --font-size-h4-mobile: 18px;
  --font-size-h5: 20px;
  --font-size-h5-mobile: 14px;
  --font-size-h6: 16px;
  --font-size-h6-mobile: 14px;

  /* Paragraphs */
  --font-size-large-paragraph: 18px;
  --font-size-large-paragraph-mobile: 14px;
  --font-size-paragraph: 16px;
  --font-size-paragraph-mobile: 14px;
  --font-size-small-paragraph: 14px;
  --font-size-small-paragraph-mobile: 12px;

  /* Font weight scale */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-heading: 130%;
  --line-height-paragraph: 150%;
}

@layer utilities {
  body {
    font-family: var(--font-primary);
  }

  .container {
    max-width: 1170px;
  }

  /* Button Styles */
  .btn-primary,
  .btn-primary-green-full,
  .btn-secondary {
    cursor: pointer;
    padding: 11px 1.5rem;
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1rem;
  }

  .btn-primary {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  .btn-primary-green-full {
    background-color: var(--color-primary);
    color: var(--color-black);
    width: 100%;
  }

  .btn-secondary {
    border: 1px solid var(--color-white);
    color: var(--color-white);
  }

  .text-gradient {
    background: linear-gradient(180deg, #50c04a 0%, #fff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
